/.quarto/
/.venv/
/__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
*.exe

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.webp
*.heic

# PDFs
*.pdf

# Directories
docs/
.vscode/
node_modules/
